.title{
    font-family: Rubik;
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}
.sub_title{
    font-family: DM Sans;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -0.03em;
}