.page_gradient{
    background: linear-gradient(180deg, #EDC100 -52.64%, rgba(251, 231, 144, 0) 100%); 
}
.title{
    font-family: Rubik;
    /* font-size: 3.6rem; */
    font-weight: 800;
    letter-spacing: -0.025em;
}
.sub_title{
    font-family: DM Sans;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.sub_heading{
    font-family: DM Sans;
    font-weight: 400;
    /* font-size: 1.7rem; */
    letter-spacing: -0.03em;
    color: #383838;

}
.dark_btn{
    font-family: Inter;
    font-weight: 700;
    letter-spacing: -0.03em;
    padding: 10px 20px 10px 20px !important;
    background: linear-gradient(94.24deg, #000000 -0.03%, #383838 99.97%),
    linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
    letter-spacing: -0.03em;
    color: #FFFFFF !important;
}
.yellow_btn{
    font-family: DM Sans;
    background: linear-gradient(89.1deg, #FAE17E 1.56%, #FFFFFF 138.78%) !important;
    border-radius: 8px;
    padding: 10px 20px 10px 20px !important;
    color: black !important;
    letter-spacing: -0.03em;
}