.hero_bg{
    background: url('img/Hero/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.nav_links{
    font-weight: 500;
    font-size: 1.2rem !important;
    color: #000000 !important;
    letter-spacing: -0.025em !important;
}
.hero_text{
    font-family: Rubik;
    font-weight: 800;
    font-size: 3.2rem;
}
.create_chapter_btn{
    font-family: Inter;
    font-weight: 700;
    font-size: 1.37rem;
    letter-spacing: -0.03em;
    padding: 10px 20px 10px 20px !important;
    background: linear-gradient(94.24deg, #000000 -0.03%, #383838 99.97%),
    linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
    letter-spacing: -0.03em;
    color: #FFFFFF !important;
}
.yellow_btn{
    font-family: DM Sans;
    background: linear-gradient(89.1deg, #FAE17E 1.56%, #FFFFFF 138.78%) !important;
    border-radius: 8px;
    padding: 10px 20px 10px 20px !important;
    color: black !important;
    letter-spacing: -0.03em;
}