.hero_bg{
    background: url('img/Hero/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.nav_links{
    font-weight: 500;
    font-size: 1.2rem !important;
    color: #000000 !important;
    letter-spacing: -0.025em !important;
}
.hero_text{
    font-family: Rubik;
    font-weight: 800;
    font-size: 3rem;
}
@media only screen and (min-width: 768px) {
    .box{
        inline-size: 33rem;
    }
}   