.title{
    font-family: Rubik;
    font-weight: 800;
    letter-spacing: -0.025em;
}
.acc_item{
    /* border: 1px solid #000000 !important; */
    border-radius: 0 !important;
    border: 0 !important;
}
.acc_header{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 1.625rem !important;
    letter-spacing: -0.03em;
}
.acc_header button{
    /* border: transparent; */
    /* background-color: transparent;
    box-shadow: none; */
}
.acc_body{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 1.1rem;
    color: #000000;
}